/* GrillaInstrumento.css */

.container-fluid {
  position: absolute;
  top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
}

.btn-primary {
  width: 50%;
  background-color: #007bff;
  border-color: #007bff;
}

.d-flex.justify-content-between .excel {
  width: 50%;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.row {
  margin-bottom: 10px;
  align-items: center;
}

.row.header {
  background-color: #343a40 !important;
  color: white;
  font-weight: bold;
}

.row:nth-child(odd) {
  background-color: #e9ecef;
}

.row:nth-child(even) {
  background-color: #f8f9fa;
}

.col {
  padding: 10px;
}

.border {
  border: 1px solid #dee2e6;
}

.border-end {
  border-right: 1px solid #dee2e6;
}

.text-start {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container-grilla {
  border: solid 2px #343a40;
}

.button-agregar {
  margin-bottom: 10px;
}

.header b {
  color: white;
}

.header div {
  background-color: #343a40;
}

.row .col-1, .row .col-2, .row .col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .col-1, .header .col-2, .header .col-5 {
  background-color: #343a40 !important;
}

.btnSuccess {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  transition: background-color 0.3s, border-color 0.3s;
}

.btnSuccess:hover {
  background-color: #218838;
  border-color: #1e7e34;
  color: white;
}

.btnCancel {
  background-color: #6c757d; /* Gris */
  border-color: #6c757d;
  color: white;
  transition: background-color 0.3s, border-color 0.3s; /* Transición de 0.3 segundos */
  border-radius: 5px; /* Borde redondeado */
}

.btnCancel:hover {
  background-color: #5a6268; /* Color más oscuro al pasar el mouse */
  border-color: #545b62;
  color: white;
}

.btnGenerate {
  background-color: #007bff; /* Azul de btn-primary */
  border-color: #007bff;
  color: white;
  transition: background-color 0.3s, border-color 0.3s; /* Transición de 0.3 segundos */
  border-radius: 5px; /* Borde redondeado */
}

.btnGenerate:hover {
  background-color: #0069d9; /* Color más oscuro al pasar el mouse */
  border-color: #0062cc;
  color: white;
}