/* Login.css */

html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-wrapper {
    background-image: url('/public/images/login.png'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Fondo semi-transparente para difuminar */
    backdrop-filter: blur(8px); /* Aplica el difuminado */
    z-index: -1; /* Envía el pseudo-elemento detrás del contenido */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 500px;
    z-index: 1;
}

.form-label {
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}
